<%= form_for(@post) do |f| %>
<% if @post.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

  <ul>
    <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="six columns">
    <%= f.text_field :name, "placeholder" => "Name" %>
  </div>
  <div class="six columns">
    <%= f.text_field :title, "placeholder" => "Title" %>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <%= f.text_area :content, "placeholder" => "Content" %>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <%= f.submit "Submit", :class => 'button' %>
  </div>
</div>
<% end %>
