<div class="row">
  <div class="twelve columns">
    <h1>Listing posts</h1>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Title</th>
          <th>Context</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
        <tr>
          <td><%= post.name %></td>
          <td><%= post.title %></td>
          <td><%= post.content %></td>
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class=" twelve columns">
    <%= link_to 'New Post', new_post_path %>
  </div>
</div>

<div ng-controller="PostsCtrl">
  <ul>
    <li ng-repeat="post in posts">
      {{post.title}}, {{post.name}}, {{post.content}}
    </li>
</div>